/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3-jan-2019, 10:51:06
    Author     : Inge
*/

.root{

    -fx-background-color: white;
    -fx-font-familiy: "Arial";
    -fx-background-image: url(/util/homepage6.png);
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;

}

#vboxFilters{


    -fx-background-color: Rgb(242,251,255);
    -fx-background-radius: 2;
    -fx-border-radius: 2;
    -fx-border: solid;
    -fx-border-width: 3px;
    -fx-border-color: rgb(0,64,100);
    -fx-padding: 20;

}

#vbScholenOverzicht{

    -fx-background-color: transparent;



}

#vboxSchoolInfo{

    -fx-background-color: Rgb(242,251,255);
    -fx-background-radius: 2;
    -fx-border-radius: 2;
    -fx-border: solid;
    -fx-border-width: 3px;
    -fx-border-color: rgb(0,64,100);


}

.rating > .container > .button {
    -fx-background-image: url("outline-star-32-blauw.png");
    -fx-opacity: 0.6;
}


/* Selected star */
.rating > .container > .button.strong {
    -fx-background-image: url("star-8-32-blauw.png");
    -fx-opacity: 0.6;
}

.scroll-pane{
    -fx-background-color:transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

#btnFavorieten{

    -fx-graphic: url("/util/favorite-2-32.png");
    -fx-padding: 0;
    -fx-background-color: Rgb(242,251,255);


}

#btnFavorieten:hover{

    -fx-graphic: url("/util/favorite-7-32.png");
    -fx-padding: 0;
    -fx-background-color: Rgb(242,251,255);

    -fx-cursor:hand;
}

#btnFavorieten:armed{

    -fx-graphic: url("/util/favorite-2-32.png");
    -fx-padding: 0;
    -fx-background-color: Rgb(242,251,255);


}

#lblFilter{

    -fx-font-size: 20px;
    -fx-text-fill: rgb(0, 64, 100);
    -fx-font-weight: bold;

}



#fav{


    -fx-background-color: Rgb(242,251,255);

}

#btnFav{


    -fx-background-color: Rgb(242,251,255);
    -fx-graphic: url("/util/favorite-2-32.png");



}

#btnFav:hover{

    -fx-cursor:hand;


}


